.leftbtn{
    display: flex;
    padding:0.5rem;
    align-items: center;
    flex:0 0 auto;
    background-color: var(--color-primary);
}

.leftbtn:hover{
    background-color: var(--color-primary-dark);
}

.leftwrapper > .delimiter{
    height: 1px;
    background-color: gray;
}
.code{
    display: flex;
    flex-direction: column;
    flex:1 1 auto;
    background-color:#EEEEEE;
    color:black;
    overflow: hidden;
    max-height: 93vh;
    font-size:1.5rem;
}

.code  #fcontent{
    flex:1;
    background-color:#EEEEEE;
    font-size:1.5rem;
    display:flex;
    resize:none;
    box-sizing: border-box;
    overflow: hidden;
    outline:none;
    padding:0.5rem;
    letter-spacing: 0.07rem;
    border:0;

}
.terminal{
    display:none;
    bottom: 0;
    min-height: 20vh;
    max-height: 20vh;
    background-color: black;
    color:white;
    flex-direction: column;
    flex:1 0 auto;
    margin:0;
    
    letter-spacing: 0.07rem;
}

.tview{
    background-color: black;
    font-size:1.5rem;
    margin:0;
    flex:1;
    border: none;
    resize: none;
    overflow-y: scroll;
}

.terminal input{
    margin:0;
    background-color: #222222;
    color:white;
    border:none;
    outline: none;
    font-size:1.5rem;
    flex:0;
    padding-left:1rem;
}

.tawrapper{
    display: flex;
    overflow: visible;
    flex-direction: row;
    flex:4 0 auto;
    max-height: none;
}

.tascrollfix{
    display: flex;
    flex-direction: column;
    flex:4 1 auto;
    overflow-y: scroll;
    max-height: 93vh;
    width: 105vw;
}
.lineno{
    display:flex;
    padding-top:0.7rem;
    background-color:darkgrey;
    color:#222222;
    width: 1.5rem;
    padding-left:0.2rem;
    flex-direction: column;
    flex:0 0 auto;
    align-items: flex-end;
}

.lineno_item{
    width: 1.5rem;
    font-size:1.2rem;
    height: 1.75rem;
}

.del_widget{
    color:gray;
    font-size:1.5rem;
    display: none;
}
