.dircontainer{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    color:#BBBBBB;
}

.dirhdr{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dirchildren{
    display: flex;
    flex-direction: column;
    flex:1 0 auto;
}
.dircontent{
    display: none;
    flex-direction: row;
}

.dircontent[expanded="true"]{
    display: flex;
}

.dircontainer svg{
    fill:var(--color-secondary);
}

.dirname{
    font-size:1.2rem;
}

.line{
    background: #BBBBBB;
    width: 2px;
}
.dirline{
    flex:0 0 auto;
    width: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.file{
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.file svg{
    fill:#BBBBBB;
}