<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/basic.css">
    <link rel="stylesheet" href="static/editor.css">
    <link rel="stylesheet" href="static/auth.css">
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?162"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type= "module" src="static/FileManager.js"></script>
    <script type="module" src="static/console.js"></script>
    <title>
        Dulang
    </title>
</head>
<body>
    <div class="allwrapper">
        <div class="titlewrapper">
            <div class="title" files_shown="true">
                Dulang IDE
            </div>
            <a href="/import">IMPORT</a>
        </div>
        <div class="mainwrapper">
            <div class="leftwrapper">
                <div class="fcontainer">
                    <div class="add_file">
                            <input placeholder="new file">
                            <div class="aficwrapper">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
                            </div>
                        </div>
                </div>
                <div class="leftbtn">run</div>
            </div>
            <div class="code">
                <div class="tascrollfix">
                        <div class="tawrapper">
                                <div class="lineno"></div>
                                <textarea id="fcontent">write "hello world"</textarea>
                        </div>
                </div>
                <div class="terminal" show="false">
                    <textarea id="prompt" class="tview"  readonly="true"> </textarea>
                </div>
                
            </div>
        </div>
    </div>
   <div class="screen_block">
       <div class = "authcontainer">
            <h2>Вход</h2>
            <div class="awcontainer">
                <div id="vk_auth" class="vk_auth"></div>
            </div>
       </div>
   </div>
</body>
</html>